label {
  display: block;
  text-transform: lowercase;
}

.form-row {
  align-items: center;
  display: flex;

  * {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

button[type="submit"] {
  background-color: var(--color-accent);
  color: var(--color-white);
  opacity: 1;
  min-width: 140px;
  width: unset;
}
