.settings-modal {
  background-color: var(--color-white);
  border-radius: 15px;
  color: var(--color-blue-900);
  display: flex;
}

form {
  font-family: var(--font-sans);

  header {
    align-items: flex-start;
    display: flex;
  }

  .section__title {
    font-size: 11px;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  fieldset {
    border: none;
  }

  .option-group input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  .options {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .option {
    label {
      align-items: center;
      border-radius: 100vh;
      cursor: pointer;
      display: inline-flex;
      height: 2.5rem;
      justify-content: center;
      position: relative;
      width: 2.5rem;
    }
    label[class^="font-"] {
      background-color: var(--color-blue-50);
    }

    input[type="radio"]:checked + label[class^="font-"] {
      background-color: var(--color-bg-surface);
      color: var(--color-white);
    }

    input[type="radio"]:checked + label[class^="bg-"] {
      background-image: url("/checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .bg-red {
    background-color: var(--color-red-400);
  }

  .bg-cyan {
    background-color: var(--color-cyan-300);
  }

  .bg-purple {
    background-color: var(--color-purple-400);
  }

  .font-sans {
    font-family: var(--font-sans);
  }

  .font-serif {
    font-family: var(--font-serif);
  }

  .font-mono {
    font-family: var(--font-mono);
  }

  .input-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.1479rem + 1.5023vw, 1.5rem);

    label,
    input {
      font-family: inherit;
      font-weight: inherit;
    }

    label {
      color: var(--color-text-dark);
      font-size: 0.75rem;
      text-transform: lowercase;
      opacity: 0.4;
    }

    input {
      background-color: var(--color-blue-50);
      border: none;
      border-radius: 10px;
      max-width: 140px;
      padding: 1rem;
    }

    * {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;
    }
  }

  button[type="submit"] {
    background-color: var(--color-accent);
    color: var(--color-white);
    opacity: 1;
    min-width: 140px;
    width: unset;
  }
}

.error-message {
  color: var(--color-red-400);
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  form {
    .input-group {
      flex-direction: row;

      * {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    fieldset {
      align-items: center;
      display: flex;
      justify-content: space-between;

      legend {
        display: contents;
      }
    }
  }
}
