/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/kumbh-sans-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto-slab-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/space-mono-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cyan-300: #70f3f8;
  --color-red-400: #f87070;
  --color-purple-400: #d881f8;
  --color-grey-200: #e3e1e1;
  --color-grey-400: #bbbdcb;
  --color-blue-50: #eff1fa;
  --color-blue-100: #d7e0ff;
  --color-blue-850: #1e213f;
  --color-blue-900: #161932;
  --color-blue-950: #14172e;

  --color-text-body: var(--color-blue-100);
  --color-text-headings: var(--color-blue-100);
  --color-text-dark: var(--color-blue-850);

  --color-bg: var(--color-blue-850);
  --color-bg-surface: var(--color-blue-900);
  --color-accent: var(--color-red-400);

  --color-gradient: linear-gradient(270.71deg, #2e325a 0%, #0e112a 100%);

  --font-sans: "Kumbh Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --font-serif: "Roboto Slab", serif;
  --font-mono: "Space Mono", ui-monospace, Consolas, monospace;

  color: var(--color-text-body);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="red"] {
  --color-accent: var(--color-red-400);
}

[data-theme="cyan"] {
  --color-accent: var(--color-cyan-300);
}

[data-theme="purple"] {
  --color-accent: var(--color-purple-400);
}

[data-font="sans"] {
  font-family: var(--font-sans);
}

[data-font="serif"] {
  font-family: var(--font-serif);
}

[data-font="mono"] {
  font-family: var(--font-mono);
}

body {
  color: var(--color-text-body);
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  position: relative;
}

#root {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  max-width: 330px;
  min-height: 100svh;
  padding-block-start: 2rem;
  text-align: center;
}

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 5.3521rem + -1.5023vw, 5rem);
  width: 100%;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  color: inherit;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (min-width: 768px) {
  #root {
    gap: 6.75rem;
    max-width: 410px;
    padding-block-start: 5rem;
  }
}

@media (min-width: 1024px) {
  #root {
    gap: 2.25rem;
    padding-block-start: 3rem;
  }
}
