/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/kumbh-sans-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-slab-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-slab-v36-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/space-mono-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/space-mono-v17-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

:root {
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-cyan-300: #70f3f8;
  --colors-red-400: #f87070;
  --colors-purple-400: #d881f8;
  --colors-grey-200: #e3e1e1;
  --colors-grey-400: #bbbdcb;
  --colors-blue-50: #eff1fa;
  --colors-blue-100: #d7e0ff;
  --colors-blue-850: #1e213f;
  --colors-blue-900: #161932;
  --colors-blue-950: #14172e;

  --color-text-body: var(--colors-blue-100);
  --color-text-headings: var(--colors-blue-100);
  --color-text-dark: var(--colors-blue-850);

  --color-bg: var(--colors-blue-850);
  --color-bg-surface: var(--colors-blue-900);
  --color-accent: var(--colors-red-400);

  --color-gradient: linear-gradient(270.71deg, #2e325a 0%, #0e112a 100%);

  --font-sans: "Kumbh Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --font-serif: "Roboto Slab", serif;
  --font-mono: "Space Mono", ui-monospace, Consolas, monospace;

  --font: var(--font-sans);

  color: var(--color-text-body);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="red"] {
  --color-accent: var(--colors-red-400);
}

:root[data-theme="cyan"] {
  --color-accent: var(--colors-cyan-300);
}

:root[data-theme="purple"] {
  --color-accent: var(--colors-purple-400);
}

:root[data-font="sans"] {
  --font: var(--font-sans);
}

:root[data-font="serif"] {
  --font: var(--font-serif);
}

:root[data-font="mono"] {
  --font: var(--font-mono);
}

body {
  color: var(--color-body-text);
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

#root {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  max-width: 330px;
  min-height: 100svh;
  padding-block-start: 2rem;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 5.3521rem + -1.5023vw, 5rem);
  width: 100%;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  color: inherit;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  #root {
    gap: 6.75rem;
    max-width: 410px;
    padding-block-start: 5rem;
  }
}

@media (min-width: 1024px) {
  #root {
    gap: 2.25rem;
    padding-block-start: 3rem;
  }
}
